@model ProductListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>DevFramework</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<div>
      @foreach (var product in Model.Products)
      {
          @product.ProductName
          <br>
      }
</div>
</body>
</html>